/* Universal */
* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}

html, a {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

body {
    background-color: black;
}

/* Nav Section */
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    background-color: black;
}

.logo {
    display: flex;
    align-items: center;
    margin: 9px 10px;
}

.links {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

li {
    flex-shrink: 0;
}

/* Hero Section */
main {
    display: flex;
    justify-content: center;
}

div.hero {
    width: 1200px;
    height: 700px;
    background-image: url("./photos/img-mission-background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;    
}

div.hero-overlay {
    width: 100%;
    background-color: black;
    text-align: center;
}

.hero-overlay h2,
.hero-overlay h4 {
    padding: 10px;
}

/* TotM Section */

/* Locations */

/* Footer */